@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This program was made for the 3rd laboratory exercise for the Performance of Computer Systems course on the Faculty of Electrical Engineering of Banja Luka</p>
