@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Michigan unnumbered <br />
   Banja Luka<br />
    <abbr title="Phone">P:</abbr>
    066/254-545
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:srdjan.hajder@gmail.com">srdjan.hajder@gmail.com</a><br />
</address>